.all-results {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.all-results h1 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-left: solid 1px #850268;
    border-bottom: solid 1px #850268;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 .5rem;
}

.all-results h1 i {
    display: inline-block;
    font-size: 3rem;
    margin: 0 1rem;
    color: #00ff26;
}

.all-results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.all-results th,
.all-results td {
    padding: 5px;
    text-align: left;
    font-weight: normal;
    color: #ffffff56;
}

.all-results th {
    border-radius: 4px;
    color: #fff;
    border-bottom: solid 1px #00ff26;
}

.all-results td {
    font-size: .7rem;
}

.all-results td:hover {
    color: #fff;
}

.all-results tr:nth-child(even) {
    background-color: transparent;
}

.all-results tr:hover {
    background-color: #850268;
}