.analise {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 10px;
}

.analise h2 {
    font-size: 1.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #850268;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5rem;
}

.analise h2 i {
    padding: 0 1rem;
    color: #00ff26;
}

/* Tabelas */
.soma-dez-sorteada {
    width: 50%;
    margin: 1rem 0;
    border: solid 1px #ffffff21;
    border-radius: 10px;
}

.soma-dez-sorteada h3 {
    font-size: 1rem;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #850268;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 1.5rem;
}

.analise table {
    width: 100%;
    border-collapse: collapse;
}

.analise th {
    text-align: left !important;
    border-top: 1px solid #00ff26;
    color: #00ff26;
    padding: 05px .8rem !important;
}

.analise th span {
    font-size: .7rem;
    color: #850268;
}


.analise td {
    font-size: .7rem;
    padding: 5px;
    font-weight: normal;
    color: #ffffff56;
}

.analise td:hover {
    color: #fff;
}

.analise tr:nth-child(even) {
    background-color: transparent;
}

.analise td:hover {
    background-color: #850268;
}