.analise {
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
}

.analise h2 {
    font-size: 1.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #850268;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5rem;
}

.analise h2 i {
    padding: 0 1rem;
    color: #00ff26;
}


/* Tabelas */
.conatiner-tabelas {
    display: flex;
    justify-content: space-between;
}

.section-container {
    height: 250px;
    overflow: hidden;

}

.container-impar-par {
    height: 250px;
    overflow-y: auto;
}

.container-impar-par table td {
    padding: 0 .5rem;
}

.container-tabela {
    width: 49%;
    height: 250px;
    margin: .5rem 0;
    border: solid 1px #ffffff21;
    border-radius: 10px;
}

.conatiner-tabelas .container-tabela .container-tabela {
    width: 100%;
    height: 100px;
    margin: .5rem 0;
    border: solid 1px #ffffff21;
    border-radius: 10px;
}

.conatiner-tabelas .container-tabela .container-tabela table th {
    padding: 0 .5rem;
    color: #00ff26;
    border-top: 1px solid transparent;
   
}

.conatiner-tabelas .left .container-tabela {
    margin-top: 2rem;
}

.container-tabela h3 {
    font-size: .7rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #850268;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 1.5rem;
}

.analise table {
    width: 100%;
    border-collapse: collapse;
}

.analise th {
    text-align: left !important;
    border-top: 1px solid #00ff26;
    color: #00ff26;
    padding: 0 .2rem;
    position: sticky;
    top: 0;
}

.analise th.scrolled {
    background-color: #850268;
}

.analise th span {
    font-size: .7rem;
    color: #850268;
}


.analise td {
    font-size: .6rem;
    padding: 0 .2rem;
    font-weight: normal;
    color: #ffffff2d;
}

.analise td:hover {
    color: #fff;
}

.analise tr:nth-child(even) {
    background-color: transparent;
}

.analise td:hover {
    background-color: #850268;
}

/* Analise probabilidades */
.analise-probabilidades {
    width: 100%;
    margin-top: 7rem;
    border-radius: 10px;
}

.analise-probabilidades .container-tabela {
    height: auto;
    width: 100%;
}



.sorteio-repet {
    width: 100%;
    border: solid 1px #ffffff21;
}

.sorteio-repet p {
    width: 100%;
    text-align: center;
    color: #00ff26;
}