header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

header img {
    width: 150px;
    height: 25px;
}

header .ultimo-sorteio {
    width: 100%;
    gap: 1rem;
    border-left: solid 1px #00ff26;
    padding-left: 1rem;
    border-radius: 4px;
    padding: auto;
    
}

header .ultimo-sorteio h2 {
    background: #850268;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5rem;
}

header .ultimo-sorteio h2 span {
    color: #00ff26;
    text-decoration: underline;
}

header .ultimo-sorteio h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #00ff26;
    letter-spacing: 2px;
}

header .ultimo-sorteio h3 span {
    font-size: .8rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    margin-left: .8rem;
    margin-right: 5rem;
}

header .ultimo-sorteio h3 p span {
    font-size: .5rem;
    color: #fff;
}

header .ultimo-sorteio .sorteio {
    border-bottom: solid 1px #00ff26;
    padding: 1rem;
    border-radius: 10px;
}

header .ultimo-sorteio .sorteio .dezenas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

header .ultimo-sorteio .sorteio .dezenas span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #850268;
    border: solid 1px #850268;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}