section {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 10px;
}

section .Busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

section .input-Busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

section .Busca label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00ff26;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

section .Busca input {
    padding: .5rem;
    border-radius: 4px;
    font-size: .8rem;
    letter-spacing: 2px;
    width: 500px;
    height: 30px;
    outline: none;
    border: none;
    color: #fff;
    margin-bottom: .2rem;
    background: none;
    border-bottom: solid 1px #00ff26;
}

section .Busca input::placeholder {
    color: #726b6ba4;
    font-weight: bold;
    font-size: .7rem;
    letter-spacing: 2px;
}

section .Busca button {
    padding: .5rem;
    border-radius: 4px;
    font-size: .8rem;
    letter-spacing: 2px;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    color: #fff;
    background: #850268;
    cursor: pointer;
}

section .Busca button:hover {
    background: #00ff26;
    color: #000;
}



section img {
    width: 150px;
    height: 25px;
}

section .ultimo-sorteio {
    width: 100%;
    gap: 1rem;
    border-left: solid 1px #00ff26;
    padding-left: 1rem;
    border-radius: 4px;
    padding: auto;
    
}


section .sorteio-info {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-left: solid 1px #00ff26;
    border-radius: 10px;
}

section .ultimo-sorteio h2 {
    font-size: 1.5rem;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #850268;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5rem;
}

section .ultimo-sorteio h2 span {
    color: #00ff26;
    text-decoration: underline;
}

section .ultimo-sorteio h3 {
    font-size: .8rem;
    font-weight: bold;
    color: #00ff26;
    letter-spacing: 2px;
}

section .ultimo-sorteio h3 span {
    font-size: .8rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 2px;
    margin-left: .5rem;

}

section .ultimo-sorteio .sorteio {
    border-bottom: solid 1px #00ff26;
    padding: 1rem;
    border-radius: 10px;
}

section .ultimo-sorteio .sorteio .dezenas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

section .ultimo-sorteio .sorteio .dezenas span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #850268;
    background: #fff;
    border: solid 1px #850268;
    border-radius: 50%;
    padding: 1.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section .Titulos {
    width: 100%;
    gap: 1rem;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 10px;
    border-left: solid 1px #00ff26;
}

section .Titulos h2 {
    font-size: 1rem;
    text-align: start;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #850268;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 2rem;
}

section .Titulos h2 i {
    color: #00ff26;
    font-size: 1.5rem;
    margin-right: .5rem;
    display: inline-block;
    transform: rotate(35deg);
}

/* Tabelas */
.Titulos {
    margin-top: 20px;
}

.Titulos table {
    width: 100%;
    border-collapse: collapse;
}

.Titulos th,
.Titulos td {
    border: 1px solid #dddddd1c;
    padding: 4px;
    text-align: left;
}

.Titulos th {
    color: #00ff26;
}

.Titulos td {
    color: #ffffff4d;
    font-size: .8rem;
}